<h2> Post Details: </h2>

<h1>
<%= post.title %>
</h1>

<p>
<%= post.content %>
</p>
    
<p> <b> CATEGORIES: </b>
    <% post.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
</p>

<b> COMMENTS: </b>
<ul>
<% @post.comments.each do |comment| %>
    <li>
        <%= comment.user.username %> says: <%= comment.content %>
    </li>
    <% end %>
</ul>

<b> COMMENTATORS: </b><br/>
<ul> 
<% post.users.uniq.each do |user| %>
    <li> 
        <%= link_to user.username, user_path(user) %><br>
    </li>
<% end %>
</ul>



<h3> ADD A COMMENT: </h3>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %> 

  <p>
  <%= f.label "Select User" %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username, "User not listed? Create New User:" %>
    <%= user_fields.text_field :username %>
  <% end %>

  <p> 
    <%= f.label :content, "New Comment" %>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>

<%# The title, categories, and content of the post.
All of the comments associated with the post.
A list of all the unique users who have commented on the post. A user's name should only show up once in this section, even if they've commented multiple times.

A form to add a new comment. The form should have a drop-down menu to select a user (we'll change this in future lessons to automatically associate the comment with a logged-in user). We should also be able to create a new user here and automatically associate it with the post. To associate a new comment with a post, you'll have to use a [hidden field](https://apidock.com/rails/ActionView/Helpers/FormHelper/hidden_field)_: %>
