<h1> Post Details: </h1>

<div class=post-content>
    <b> TITLE: </b>
    <%= post.title %><br/><br/>

    <b> CONTENT: </b>
    <%= post.content %><br/><br/>

    <b> CATEGORIES: </b>
    <% post.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %><br/><br/>

    <b> COMMENTS: </b>
    <% post.comments.each do |comment| %>
        <%= comment.content %><br/>
    <% end %><br/><br/>

    <b> Unique Users that have Commented on this Post: </b><br/>
    <% post.users.each do |user| %>
        Username: <%= user.username %><br>
        Email: <%= user.email %><br>
    <% end %>
</div>



<h3> Add a Comment: </h3>

<%= form_for post do |f| %>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br/><br/>

  <%= f.label "Username" %>
  <%= f.collection_select :user_ids, User.all, :id, :username, include_blank: true %><br/>

  <%= f.label "User not listed? Create New User:" %>
  <%= f.fields_for :users, post.users.build do |users_fields| %>
    <p><%= users_fields.text_field :username %></p>
  <% end %>

  <%= f.hidden_field :post_id, value: @post.id %> 

  <%= f.submit %>
<% end %>

<%# The title, categories, and content of the post.
All of the comments associated with the post.
A list of all the unique users who have commented on the post. A user's name should only show up once in this section, even if they've commented multiple times.

A form to add a new comment. The form should have a drop-down menu to select a user (we'll change this in future lessons to automatically associate the comment with a logged-in user). We should also be able to create a new user here and automatically associate it with the post. To associate a new comment with a post, you'll have to use a [hidden field](https://apidock.com/rails/ActionView/Helpers/FormHelper/hidden_field)_: %>